@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic:700|Lato|Open+Sans:400,400i,700|Yeseva+One&display=swap')
@import "C:/Users/andrey/Documents/WebstormProjects/restaurant/node_modules/@fortawesome/fontawesome-free/css/all.css"